
<div class="container">
    <div class="row single-product">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5 margin-b-30">
                    <div class="item">
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-detail-desc">
                        <h3 class="title"> Le produit <%= @product.name %></h3>
                        <span class="price"> <%= @product.price %> BTC</span>
                        <span class="price"> <%= @product.id %></span>
                        
                      
                     
                    
                        
                        
                    </div>
                </div>
            </div>
        </div>  