<div class="space-60"></div>
<div class="container">
    <div class="row single-product">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-5 margin-b-30">
                    <div class="item">
                        
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="product-detail-desc">
                        <h3 class="title"> Le produit <%= @product.name %></h3>
                        <span class="price"> <%= @product.price %> €</span>
                        <p></p>
                        <div class="available">En stock</div>
                        <div class="add-buttons">
                            <i class="fa fa-random"></i>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Add to cart" class="btn btn-skin btn-lg"><i class="fa fa-shopping-cart"></i> Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>  